{{template "header.go.html" .}}

<div class="flex-row">
    <div>
        <img class="rounded" src="/static/img/avatar.jpg" width="260" height="260">
    </div>
    <div>
        I am Jorge Cerqueira and this is my webpage.

        <h3>Some Projects</h3>
        <ul>
            <li>
                <a href="https://www.github.com/Kaixi26/EM_2020">EWD840 Specification</a>
                - Specification of Dijkstra's termination detection algorithm for distributed computations in Alloy.
            </li>
            <li>
                <a href="https://www.github.com/Kaixi26/ATS-2020">Benchmarking of Java Projects</a>
                - Batch analysis of code smells in java projects using sonarqube, automatic generation of input in haskell, benchmark of application speed and energy consumption.
            </li>
            <li>
                <a href="https://www.github.com/Kaixi26/LEI">Management of Dissertation Aplications</a>
                - Odoo addon to manage the process of applying to a dissertation for Informatics Engineering students at UMinho.
            </li>
            <li>
                <a href="https://www.github.com/Kaixi26/VoT">VoT</a>
                - Fully static web application for vocabulary tracking to aid in language learning.
            </li>
            <li>
                <a href="https://www.github.com/Kaixi26/site">site</a>
                - This website :)
            </li>
        </ul>

        <h3>Publications</h3>
        <ul>
            <li>
                <a href="https://nmacedo.github.io/pubs/SEFM22.pdf">Timely Specification Repair for Alloy 6.</a>
                Cerqueira, Jorge, Alcino Cunha, and Nuno Macedo.
                In International Conference on Software Engineering and Formal Methods (pp. 288-303). Springer, Cham.
            </li>
        </ul>

    </div>
</div>

{{template "footer.go.html" .}}